* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: #f6f7fb;
}



.patientsList {
    width: 80%;
    margin: 50px auto;
    padding: 0 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
    box-shadow: 0px 10px 0px #0001;
}

h2 {
    margin: 20px 0 0 10%;
    color: #555;
}

.patientCard {
    width: 380px;
    height: auto;
    position: relative;
    box-shadow: 2px 2px 20px #0002;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    background: #fdfdfd;
    border-radius: 5px;
    border: 1px solid transparent;

}

.patientCard:hover {
    transition: 400ms;
    border-color: #d7cdff;
    /* box-shadow: none; */
}

.cardHeader {
    border-bottom: 1px solid #bbb;
    padding: 7px 20px;
    display: grid;
    grid-template-columns: 90% 1fr;
    gap: 5px;
    align-items: center;
    justify-content: center;

}

.headerData {
    color: #929197;

}

.box {

    text-align: center;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: #e5ddfe;
    color: #7b57ff;
    font-weight: 700;
}


.cardData {
    width: 100%;
    padding: 7px 20px 7px 14px;
    display: flex;
}

#btnSave,
#btnClear {
    font-size: 22px;
    color: #ccc;
    cursor: pointer;
}

#btnSave:hover,
#btnClear:hover {
    transition: 300ms;
    color: #7b57ff;
}

.active {
    color: #7b57ff;
}

.int {
    background: #62a95a;
}

.pulse {

    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {


    50% {
        opacity: 0.5;
    }



}



.patientCard input {
    width: 100%;
    border: none;
    text-transform: capitalize;
    outline: none;
    color: #929197;
    font-weight: 500;
    background: transparent;
}


.patientCard input::placeholder {
    color: #bbb;
    font-weight: normal;
}

#name {
    margin: 0;
    font-size: 15px;

}

#plan {
    font-size: 13px;
    width: 70%;
}


#age {
    width: 20%;
    /* color: #4f29f0; */
    /* text-align: center; */
    text-transform: none;
}

textarea {
    width: 100%;
    padding: 3px;
    outline: none;
    border-radius: 5px;
    resize: none;
    border: none;
    color: #777;
    background: #f6f6f6;
    font-size: 13px;
}

.cardButtons {
    width: 100%;
    height: 64px;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.cardButtons button:hover {
    background: #9173ff;
    transition: 200ms;
}

.status {
    width: 145px;
    text-align: right;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 15px;
    padding: 2px 5px;
    text-align: center;
    background: #f3f3f3;
}


.statusMark {
    margin: 0 2px 0 0;
    font-size: 9px;
    /* text-shadow: 2px 2px 3px #0003; */
    color: #aaa;
    animation: pulse 1s ease-in-out infinite;
}

.stausText {
    display: inline-block;
    text-transform: capitalize;
    color: #aaa;
}

#an {
    color: #ffbf00;
}

#al {
    color: #ed1111;
    animation: pulse 1s infinite;
}

#in {
    color: #1c8321;
}


.cardButtons .hour {
    display: block;
    color: #f03131;
}


.loading {
    width: 120px;
    height: 120px;
    border: 8px solid #eee;
    border-left-color: #7b57ff;
    border-radius: 50%;
    margin: 0 auto;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.internado {
    background: #62a95a;
}



#checklist {
    --background: #fff;
    --text: #414856;
    --check: #4f29f0;
    --disabled: #c3c8de;
    --width: 100px;
    --height: 180px;
    --border-radius: 10px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    max-width: 120px;
}

#checklist label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: fit-content;

    transition: color 0.3s ease;
    margin-right: 20px;
    font-size: 14px;
}

#checklist label:hover {
    transition: 200ms;
    opacity: 0.7;
    color: #9173ff;
}

#checklist label::before,
#checklist label::after {
    content: "";
    position: absolute;
}

#checklist label::before {
    height: 2px;
    width: 8px;
    left: -27px;
    background: var(--check);
    border-radius: 2px;
    transition: background 0.3s ease;
}

#checklist label:after {
    height: 4px;
    width: 4px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
}

#checklist input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
    margin-right: 20px;
}

#checklist input[type="checkbox"]::before,
#checklist input[type="checkbox"]::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: var(--check);
    border-radius: 2px;
}

#checklist input[type="checkbox"]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
}

#checklist input[type="checkbox"]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
}

#checklist input[type="checkbox"]:checked::before {
    animation: check-01 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked::after {
    animation: check-02 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked+label {
    color: var(--disabled);
    animation: move 0.3s ease 0.1s forwards;
}

#checklist input[type="checkbox"]:checked+label::before {
    background: var(--disabled);
    animation: slice 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked+label::after {
    animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
    50% {
        padding-left: 8px;
        padding-right: 0px;
    }

    100% {
        padding-right: 4px;
    }
}

@keyframes slice {
    60% {
        width: 100%;
        left: 4px;
    }

    100% {
        width: 100%;
        left: -2px;
        padding-left: 0;
    }
}

@keyframes check-01 {
    0% {
        width: 4px;
        top: auto;
        transform: rotate(0);
    }

    50% {
        width: 0px;
        top: auto;
        transform: rotate(0);
    }

    51% {
        width: 0px;
        top: 8px;
        transform: rotate(45deg);
    }

    100% {
        width: 5px;
        top: 8px;
        transform: rotate(45deg);
    }
}

@keyframes check-02 {
    0% {
        width: 4px;
        top: auto;
        transform: rotate(0);
    }

    50% {
        width: 0px;
        top: auto;
        transform: rotate(0);
    }

    51% {
        width: 0px;
        top: 8px;
        transform: rotate(-45deg);
    }

    100% {
        width: 10px;
        top: 8px;
        transform: rotate(-45deg);
    }
}

@keyframes firework {
    0% {
        opacity: 1;
        box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0, 14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
    }
}



.popup {
    width: 250px;
    height: 150px;
    background: #9173ff;
    position: fixed;
    left: 50%;
    bottom: -150px;
    transform: translate(-50%);
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #fdfdfd;
    font-weight: 500;
    box-shadow: 3px 3px 10px #0003;
    transition: 300ms;

    border-radius: 5px;
}








@media print {
    @page {
        size: A4;
        margin: 5mm auto;
    }

    h2 {
        text-align: center;
        margin: 0;
        color: #9173ff;
    }

    .patientsList {
        gap: 5px 20px;
        width: 100%;
        page-break-after: always;
        box-shadow: none;
    }

    .popup {
        display: none;
    }
}